# Large artifacts (> 100 MB)
# GitHub imposes a max filesize of 100 MB, so these two artifacts (which were
# each over 1 GB in size) are not stored in the repository.
demux-filtered.qza
demux-paired-end.qza
